*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;

.mycollapse{
justify-content: center;
ul{
    li{
        list-style-type: none;
    }
    
}
}
.headers{
width: 100%;
height: 50px;
background-color: black;
justify-content: center;
    display: flex;
}
p{
    color: white;
    
}
}
#style{
    width: 100%;
    height: 500px;
    background-image: url(/assets/img/h1_hero1.jpg);
    .col-12{
        margin-top: 30px;
    padding-top: 30px;
    }
    .text-minimal{
        margin-top: 30px;
    padding-top: 30px;
        span{
            color: #FF2020;
            font-family: "Clicker Script",#FF2020;
            
        }
        button{
            width: 130px;
            height: 40px;
            background-color: #292621;
            color: white;
            border: none;
        }
    }
}

#items{
    width: 100%;
    .container{
        margin-top: 30px;
    padding: 25px;
}
    }
    .photo{
        width: 250px;
        margin-top: 30px;
    }



#week{
    .container{
        margin-top: 30px;
    padding: 30px;
    }
    .navbar{
        display: flex;
        margin-top: 30px;
    }
    ul{
        display: flex;
        gap: 20px;
        
    }
    li{
        list-style-type: none;
        
    }
    
}
#customer{
    width: 100%;
    height: 400px;
    background-color: #F3EAD8;
    .container{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
    }
    .col-xl-10{
        margin-top: 30px;
    padding: 30px;
    
    }
    h2{
        display: flex;
    justify-content: center;
    }
    .lower{
        display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    gap: 20px;
    
    }
}
#like{
    width: 100%;
    .like{
        display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    }
}

#systemproduct{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 250px;
    }
    button{
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: orangered;
        &:hover{
            color: white;
            background-color: red;
            transition: 1s;
        }
    }
   
}

#viewmore{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: green;
    margin-top: 30px;
    &:hover{
        color: white;
        background-color: yellowgreen;
        transition: 1s;
    }
}
.proBox{
    margin-top: 30px;
}

#prokind{
    width: 140px;
    height: 35px;
    color: white;
    background-color: rgb(51, 112, 153);
    border: none;
    border-radius: 17px;
}

#footer{
    width: 100%;
    height: 200px;
    background-color: #212529;
    margin-top: 25px;
    .col-xl-12{
        margin-top: 30px;
    }
    .colorlib-text{
        display: flex;
        margin-top: 30px;
    padding: 30px;
    justify-content: center;
    }
}

#sortedproducts{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 250px;
    }
    button{
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: orangered;
        &:hover{
            color: white;
            background-color: red;
            transition: 1s;
        }
    }
   
}